<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
		<add name="connectionString" connectionString="Data Source=DESKTOP-D7DO3N9;Initial Catalog=CarRentalCompany;Integrated Security=True;Trust Server Certificate=True;Application Intent=ReadWrite;Multi Subnet Failover=False" providerName="Microsoft.Data.SqlClient " />
	</connectionStrings>
</configuration>